@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="light-blue">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">欢迎！ @User.Identity.Name!</a>
            </li>
            <li class="btn-danger">
                <form class="light-blue" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="btn btn-danger" style="padding-top:inherit;" >退出</button>
                </form>
            </li>
        }
        else
        {
            <li class="">
                <a class="nav-link " asp-area="Identity" asp-page="/Account/Register">注册</a>
            </li>
            <li class="">
                <a class="nav-link " asp-area="Identity" asp-page="/Account/Login">登录</a>
            </li>
        }
 